---
layout: splash
seo_title: GHC Open Source Day
title: YOUR GUIDED EXPERIENCE TO OPEN SOURCE DAY
excerpt: "Open Source Day is an all-day hackathon (including workshops) at Grace Hopper Celebration in which participants of all skill levels learn about Open Source while contributing to projects designed to solve real-world problems! ✨"
header:
  overlay_image: /assets/images/AB_GHC22_Brand Gradient_01.png
  actions:
    - label: "Register Now"
      url: "https://ghc.anitab.org/attend/"
intro: 
    - excerpt: "We are now accepting CFP for projects, workshops, and mentors! [Apply now](https://bit.ly/osd22-cfp) to be part of Open Source Day 2022"
feature_row:
  - image_path: /assets/images/women_in_tech_3.jpg
    alt: "women in tech"
    title: "Open Source Day"
    excerpt: "2022 GHC Open Source Day will take place **virtually on September 16th 2022 from 8am to 3pm US Pacific Time**."
    url: /open-source-day/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/hackathon.jpg
    alt: "women in tech"
    title: "Call For Participation"
    excerpt: "Be part of Open Source Day and take part in the movement to increase diversity in open source! Call for Participation closes **June 20th 2022**."
    url: /call-for-participation/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/women_in_tech_2.jpg
    title: "How to Contribute"
    alt: "women in tech"
    excerpt: "Want to contribute to open source? A guide to making open source contributions, for first-timers and for veterans." 
    url: "https://opensource.guide/how-to-contribute/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}