---
layout: splash
title: "Your Guided Experience to Open Source"
author_profile: false
excerpt: "Open Source Day (OSD) is an all-day hackathon (including workshops), in which participants of all 
skill levels learn about Open Source while contributing to projects designed to solve real world problems. 
#OpenSourceDay"
header:
  overlay_image: /assets/images/banner11.png
  actions:
    - label: "Register"
      url: ""
intro: 
    - excerpt: ""
feature_row:
  - image_path: /assets/images/img1.png
    alt: "women in tech"
    title: "Open Source Day Summer 2021"
    excerpt: "The summer session of the hackathon will happen virtually on July 15th 2021. Level up your skills and learn about Open Source!"
    url: /upcoming/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/img2.png
    alt: "women in tech"
    title: "Become a Mentor!"
    excerpt: "We are looking for mentors to guide our participants as they learn more about the open source community"
    url: /become_a_mentor/
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/img3.png
    title: "How to Contribute?"
    alt: "women in tech"
    excerpt: "Want to contribute to open source? A guide to making open source contributions, for first-timers and for veterans." 
    url: "https://opensource.guide/how-to-contribute/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/feature_image1.png
    alt: "women in tech"
    title: ""
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Register"
    btn_class: "btn--primary"
feature_row3:
    - image_path: /assets/images/feature_image2.png
      alt: "placeholder image 2"
      title: ""
      excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
      url: "https://airtable.com/shrREw8EXQfmSA4Uu"
      btn_label: "Read More"
      btn_class: "btn--primary"
feature_row4:
    - image_path: /assets/images/feature_image3.png
      alt: "placeholder image 2"
      title: ""
      excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
      url: "#test-link"
      btn_label: "Read More"
      btn_class: "btn--primary"

---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}