---
layout: splash
seo_title: GHC Open Source Day
title: Largest <span id="celebration">Celebration</span> of Women in Open Source
excerpt: "Open Source Day is an all-day hackathon (including workshops) at Grace Hopper Celebration in which participants of all skill levels learn about Open Source while contributing to projects designed to solve real-world problems! Can't wait to see you there!"
header:
  overlay_image: /assets/images/banner.png
  actions:
    - label: "Register Now"
      url: "https://www.gracehoppercelebration.com/"
intro: 
    - excerpt: <h1 id="countdown"></h1>
feature_row:
  - image_path: /assets/images/women_in_tech_3.jpg
    alt: "women in tech"
    title: "OSD 2022 Agenda"
    excerpt: "We're curating an inspiring day of impactful projects for contributions as well workshops to help you upskill."
    url: "https://anitab-org.github.io/open-source-day/agenda/"
    btn_label: "View 2022 Agenda"
    btn_class: "btn--primary"
  - image_path: /assets/images/hackathon.jpg
    alt: "women in tech"
    title: "Not sure about OSD 22?"
    excerpt: "Whether you are new to OSD or not sure if this is for you, join one of our upcoming Info Sessions and get all your questions answered about OSD 22. See you there!"
    url: "https://forms.gle/5CD6hmmSjFjq7X9x8"
    btn_label: "Sign up"
    btn_class: "btn--primary"
  - image_path: /assets/images/women_in_tech_2.jpg
    title: "How to Contribute"
    alt: "women in tech"
    excerpt: "Want to contribute to open source? A guide to making open source contributions, for first-timers and for veterans." 
    url: "https://opensource.guide/how-to-contribute/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

<style>
#celebration {
  color: pink;
}

#countdown {
  text-align: center;
}
</style>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Sept 16, 2022").getTime();

var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);


  if (distance < 0) {
     clearInterval(x);
     document.getElementById("countdown").innerHTML = "Open Source Day is Happening Now! ✨ <br> <span style='font-size: 18px'>September 16, 2022 from 8am to 3pm US Pacific Time</span>";
  }

  if (parseInt(days) < 1) {
      document.getElementById("countdown").innerHTML = "<b>" + hours + "h " + minutes + "m " + seconds + "s</b> </b> until Open Source Day ✨ <br> <span style='font-size: 18px'>September 16, 2022 at 8am US Pacific Time</span>"
  } else {
    document.getElementById("countdown").innerHTML = "<b>" + days + "</b> Days until Open Source Day ✨ <br> <span style='font-size: 18px'>September 16, 2022 at 8am US Pacific Time</span>"
  }
}, 1000);
</script>


{% include feature_row %}