span.e {
    margin-right: 5px;
}
#agenda-all {
    margin-top: 1em;
    margin-right: 2em;
    width: 100%;
}
#agenda-all thead tr {
    background-color: rgb(29, 66, 138);
    color: #ffffff;
}
#agenda-workshop {
    width: 65%
}
#agenda-workshop thead tr {
    background-color: rgb(29, 66, 138);
    color: #ffffff;
}
.agenda-col{
  float: left;
  font-size: 16px;
  display: table;
  border-collapse: collapse;
  font-size: 16px;
}
@media (max-width: 400px) {
    #all {
        width: 100%;
    }
    #workshops {
        width: 100%;
    }
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.btn.active {
  background-color: #666;
  color: white;
}

.btn {
  font-size: 1em;
}