h1 {
  color: #2b1459;
}

h4 {
  margin-top: 0px;
}

.button {
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.blog_button {
  background-color: #2b1459;
  color: white;
}

.blog_button:link {
  color: white;
}

.blog_button:visited {
  color: white;
}

.blog_button:hover {
  background-color: white;
  color: black;
  border: 2px solid #2b1459;
}

/* unvisited link */
a:link {
  color: #2b1459;
}

/* visited link */
a:visited {
  color: #2b1459;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.press-btn{
  background-color: #dcdedd;
  color:black;
}

.press-btn:visited{
  background-color: #dcdedd;
  color:black;
}

.press-btn:hover{
  background-color:black;
  color: #dcdedd;
}

.btn {
  font-size: 16px;
}

.quote-left {
  float: left;
  border-right: 15px solid white;
  width: 40vw;
}

.quote-right {
  float: left;
  border-right: 15px solid white;
  width: 40vw;
}

@media (max-width: 600px) {
    .quote-left {
        width: 96vw;
    }
    .quote-right {
        width: 96vw;
    }
}