h1 {
  color: rgb(29, 66, 138);
}

h4 {
  margin-top: 0px;
}

.button {
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.blog_button {
  background-color: rgb(29, 66, 138);
  color: white;
}

.blog_button:hover {
  background-color: white;
  color: black;
  border: 2px solid rgb(29, 66, 138);
}