.image-card {
    margin: 1%;
    width: 18%;
}

.image-card img {
    aspect-ratio : 1 / 1;
    width: 100%;
}

.top-border-0 {
    border-top: solid 7px #1A237E;
}

.top-border-1 {
    border-top: solid 7px #1565C0;
}

.top-border-2 {
    border-top: solid 7px #006064;
}

.top-border-3 {
    border-top: solid 7px #00897B;
}

#mentors {
    display: flex;
    flex-wrap: wrap;
}

.name {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.font-0 {
    color: #1A237E;
}

.font-1 {
    color: #1565C0;
}

.font-2 {
   color: #006064;
}

.font-3 {
    color: #00897B;
 }

h1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.sub {
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 49.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .image-card {
    margin: 1%;
    width: 23%;
  }

  .name {
    font-size: 16px;
  }

  .subtitle {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  .image-card {
    margin: 2%;
    width: 46%;
  }

  .name {
    font-size: 16px;
  }

  .subtitle {
    font-size: 14px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}